.navbar {
  width: 50px;
  height: 100%;
  background-color: var(--mantine-color-dark-8);
  border-right: 1px solid var(--mantine-color-dark-6);
  display: flex;
  flex-direction: column;
}

.link {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-dimmed);
  opacity: 0.7;

  &:hover {
    opacity: 1;
    background-color: var(--mantine-color-dark-7);
    color: var(--mantine-color-white);
  }

  &[data-active] {
    opacity: 1;
    border-left: 2px solid var(--mantine-primary-color-filled);
    background-color: var(--mantine-color-dark-7);
    color: var(--mantine-color-white);
  }
}
