.sidebar {
  width: 250px;
  height: 100%;
  background-color: var(--mantine-color-dark-7);
  border-right: 1px solid var(--mantine-color-dark-6);
  display: flex;
  flex-direction: column;
}

.header {
    border-bottom: 1px solid var(--mantine-color-dark-6);
}

.content {
    padding: 4px 0;
}

.folder, .file {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 12px;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  
  &:hover {
    background-color: var(--mantine-color-dark-6);
  }
}

.file[data-active] {
  background-color: var(--mantine-color-blue-9);
  color: var(--mantine-color-white);
}
